body {
    font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/premium-vector/baby-textile-seamless-pattern-geomteric-sweet-vector-background-wallpaper-cover-scrappbooking-paper-fabric-cloth-bright-colorful-childish-geometry-shape_93083-3772.jpg?w=996');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}